@import url("../common.css");

.bgwrap {
  max-width: 620px;
}

.wrapper {
  grid-template-columns: 105px 125px 110px 70px 200px;
  gap: 2px;
  grid-auto-rows: 33px minmax(0px, 140px);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.entrant-id {
  color: #999999;
}

.clear-info {
  padding-right: 15px;
}

.fcs {
  color: #007800;
}

.fecs {
  color: #daa520;
}

.quads {
  color: #34a2d0;
}

.quints {
  color: #ee637b;
}

.tech-level-info {
  padding-right: 15px;
}

.ladder {
  grid-column: 5;
  grid-row: 1;
}

.rival {
  background-color: rgba(221, 204, 204);
}

.self {
  background-color: rgba(204, 221, 204);
}

.neutral {
  background-color: rgba(238, 238, 238);
}
