@import url("../common.css");

.bgwrap {
  width: 405px;
}

.wrapper {
  grid-template-columns: 105px 100px 90px 110px;
  gap: 0px;
  grid-auto-rows: 33px minmax(0px, 124px) minmax(0px, 140px);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.entrant-id {
  color: #aaaaaa;
}

.fcs {
  color: lightgreen;
}

.fecs {
  color: goldenrod;
}

.quads {
  color: skyblue;
}

.quints {
  color: pink;
}

.ladder {
  margin-top: 45px;
  padding-top: 0px;
  grid-column: 1 / 5;
  grid-row: 3;
  background-color: rgba(76, 76, 76, 1);
}

.ladder-title {
  padding-left: 3px;
  background-color: rgba(76, 76, 76, 1);
}

.ladder-rank {
  padding: 0px 3px;
}

.rival {
  background-color: rgba(152, 102, 102, 1);
}

.self {
  background-color: rgba(102, 152, 102, 1);
}

.neutral {
  background-color: rgba(76, 76, 76, 1);
}
