.bgwrap {
  width: 40.5rem;
}

.wrapper {
  height: calc(100% - 1rem);
  padding: .5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.fcs {
  color: lightgreen;
}

.fecs {
  color: goldenrod;
}

.quads {
  color: skyblue;
}

.quints {
  color: pink;
}

.ladder {
  width: 40.5rem;
  position: absolute;
  top: 13.2rem;
  left: 0.8rem;
  background-color: rgba(76, 76, 76, 1);
}

.ladder-title {
  background-color: rgba(76, 76, 76, 1);
}

.rival {
  background-color: rgba(152, 102, 102, 1);
}

.self {
  background-color: rgba(102, 152, 102, 1);
}

.neutral {
  background-color: rgba(76, 76, 76, 1);
}
