.bgwrap {
  width: 405px;
}

.wrapper {
  height: calc(100% - 1rem);
  padding: .5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.fcs {
  color: #007800;
}

.fecs {
  color: #daa520;
}

.quads {
  color: #34a2d0;
}

.quints {
  color: #ee637b;
}

.ladder {
  width: 40.5rem;
  position: absolute;
  top: 13.2rem;
  left: 0.8rem;
  background-color: rgba(238, 238, 238);
}

.ladder-title {
  background-color: rgba(238, 238, 238);
}

.rival {
  background-color: rgba(221, 204, 204);
}

.self {
  background-color: rgba(204, 221, 204);
}

.neutral {
  background-color: rgba(238, 238, 238);
}
