.bgwrap {
  max-width: 620px;
}

.wrapper {
  height: calc(100% - 1rem);
  background-color: var(--light-wrapper-bg);
  padding: .5rem;
  color: black;
}

.rival {
  background-color: var(--light-rival);
}

.self {
  background-color: var(--light-self);
}

.neutral {
  background-color: var(--light-neutral);
}

.fcs {
  color: var(--light-fc-green);
}

.fecs {
  color: var(--light-fec-gold);
}

.quads {
  color: var(--light-quad-blue);
}

.quints {
  color: var(--light-quint-pink);
}