.bgwrap {
  background-image: url("../bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 124px;
}

.wrapper {
  display: grid;
  font-family: "Bahnschrift", Times, serif;
  height: 124px;
}

.entrant-id {
  font-size: 8px;
  margin-top: -4px;
  padding-left: 4px;
  padding-bottom: 4px;
}

.entrant-name {
  grid-column: 2;
  grid-row: 1;
  font-size: 28px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 2px;
  white-space: nowrap;
}

.profile-picture {
  grid-column: 1;
  grid-row: 1;
  margin-top: 11px;
  margin-left: 2px;
}

.entrant-info {
  grid-column: 2;
  grid-row: 2;
  padding-top: 1px;
  margin-left: 2px;
}

.entrant-rank {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 90px;
  padding-bottom: 2px;
}

.entrant-points {
  font-size: 15px;
  padding-top: 2px;
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.clear-info {
  grid-column: 3;
  grid-row: 1;
  padding-top: 30px;
  padding-left: 10px;
}

.passes {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.fcs {
  font-size: 14px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.fecs {
  font-size: 14px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.quads {
  font-size: 14px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.quints {
  font-size: 14px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.tech-level-info {
  grid-column: 4;
  grid-row: 1;
  padding-top: 28px;
  padding-left: 5px;
}

.ladder {
  font-size: 14px;
}

.ladder-title {
  text-decoration: underline;
  padding-bottom: 1px;
  font-size: 14px;
}

.ladder-rank {
  max-height: 17px;
  overflow: hidden;
}

.rival {
  display: flex;
  justify-content: space-between;
  padding-right: 2px;
}

.self {
  display: flex;
  justify-content: space-between;
  padding-right: 2px;
}

.neutral {
  display: flex;
  justify-content: space-between;
  padding-right: 2px;
}
