@import url("../common.css");

.bgwrap {
  width: 405px;
}

.wrapper {
  grid-template-columns: 105px 100px 90px 110px;
  gap: 0px;
  grid-auto-rows: 33px minmax(0px, 124px) minmax(0px, 140px);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.entrant-id {
  color: #999999;
}

.fcs {
  color: #007800;
}

.fecs {
  color: #daa520;
}

.quads {
  color: #34a2d0;
}

.quints {
  color: #ee637b;
}

.ladder {
  margin-top: 45px;
  padding-top: 0px;
  grid-column: 1 / 5;
  grid-row: 3;
  background-color: rgba(238, 238, 238);
}

.ladder-title {
  padding-left: 3px;
  background-color: rgba(238, 238, 238);
}

.ladder-rank {
  padding-left: 3px;
  padding-right: 3px;
}

.rival {
  background-color: rgba(221, 204, 204);
}

.self {
  background-color: rgba(204, 221, 204);
}

.neutral {
  background-color: rgba(238, 238, 238);
}
